<!-- <input [(ngModel)]="title" class="form-control">
<input [(ngModel)]="description" class="form-control">
<input [(ngModel)]="imageUrl" class="form-control">
<button (click)="onCreateNewMovie(title, description, imageUrl)" class="btn btn-success">Add New Movie</button> -->


<div *ngIf="displayList" class="row">
    <div class="col-6">
        <ul class="list-group">
            <!-- <div *ngIf="!movieIdsBeingEdited" class="backtocolor"> -->
            <li class="list-group-item" *ngFor="let movie of movies; let i = index">
            
                <div class="row">
                    <div class="col-6">
                        
                        <p *ngIf="!movieIdsBeingEdited[i]" >{{movie.title}}</p>
                        <input *ngIf="movieIdsBeingEdited[i]" [(ngModel)]="movie.title">
		                <!-- <p *ngIf="!movieIdsBeingEdited[i]">{{movie.description}}</p> -->
                        <input *ngIf="movieIdsBeingEdited[i]" [(ngModel)]="movie.description">
                        <!-- <p *ngIf="!movieIdsBeingEdited[i]">{{movie.imageUrl}}</p> -->
                        <input *ngIf="movieIdsBeingEdited[i]" [(ngModel)]="movie.imageUrl">
                    </div>
                  
                    <div class="col-6">
                        <button *ngIf="!movieIdsBeingEdited[i]" class="btn btn-danger float-right mx-1"
                            (click)="onDeleteMovie(i)" >X </button> 
                        <button *ngIf="!movieIdsBeingEdited[i]" class="btn btn-warning float-right"
                            (click)="onStartEditMovie(i)">Edit</button> 

                        <button *ngIf="!movieIdsBeingEdited[i]" class=" btn btn-primary float-right mx-1" (click)="onViewMovieDetails(movie)">Details</button>
                        <!-- <div *ngIf="movieIdsBeingEdited[i]" class="p-3 mb-2 bg-primary text-white"> </div> -->
                        <button *ngIf="movieIdsBeingEdited[i]" class=" btn btn-info float-right"
                            (click)="onSaveEditMovie(i)">Save</button>
                    </div>
                   
                </div>
            </li>
       
        </ul>
    </div>
    <!-- first shot at display -->
    <!-- <div class="col-6" *ngIf="movieBeingDisplayed">
        <h4>{{movieBeingDisplayed.title}}</h4>
        <hr>
       this part was already commented out
        <p *ngIf="movieBeingDisplayed" [(ngModel)]="movieBeingDisplayed.description"></p> -->
        <!-- <p>{{movieBeingDisplayed.description}}</p>
    </div> -->

    <div class="col-6" *ngIf="movieBeingDisplayed">
        <div class="card" style="width: 18rem;">
            <img src= {{movieBeingDisplayed.imageUrl}} class="card-img-top" alt="Image here">
            <div class="card-body">
                <h5 class="card-title">{{movieBeingDisplayed.title}}</h5>
                <p class="card-text">{{movieBeingDisplayed.description}}</p>
            </div>
        </div>
        </div>

   
  
    <!-- <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div> -->
<!-- </div> -->


